---
import { Image } from 'astro:assets';
import Amadeus from '../images/alpakas/amadeus.jpg';
import Ludwig from '../images/alpakas/ludwig.jpg';
import Johann from '../images/alpakas/johann.jpg';
import Richard from '../images/alpakas/richard.jpg';
import Antonio from '../images/alpakas/antonio.jpeg';
---

<section id="alpakas" class="alpacas section">
  <h2>Unsere Alpakas</h2>
  <div class="alpaca-grid container">
    <div class="alpaca-item">
      <Image src={Amadeus} alt="Alpaka Amadeus" class="alpaca-photo" />
      <h3>Amadeus</h3>
      <p class="alpaca-description"><span class="description-start">Der ruhige Anführer der Herde, </span>benannt nach Mozart.</p>
    </div>
    <div class="alpaca-item">
      <Image src={Ludwig} alt="Alpaka Ludwig" class="alpaca-photo" />
      <h3>Ludwig</h3>
      <p class="alpaca-description"><span class="description-start">Lebhaft und neugierig, </span>wie Beethovens Musik.</p>
    </div>
    <div class="alpaca-item">
      <Image src={Johann} alt="Alpaka Johann" class="alpaca-photo" />
      <h3>Johann</h3>
      <p class="alpaca-description"><span class="description-start">Harmonisch und ausgeglichen, </span>unser kleiner Bach.</p>
    </div>
    <div class="alpaca-item">
      <Image src={Richard} alt="Alpaka Richard" class="alpaca-photo" />
      <h3>Richard</h3>
      <p class="alpaca-description"><span class="description-start">Stolz und majestätisch, </span>wie Wagners Opern.</p>
    </div>
    <div class="alpaca-item">
      <Image src={Antonio} alt="Alpaka Antonio" class="alpaca-photo" />
      <h3>Antonio</h3>
      <p class="alpaca-description"><span class="description-start">Spritzig und freundlich, </span>inspiriert von Vivaldi.</p>
    </div>
  </div>
</section>

<style>
  .alpaca-grid {
    display: grid;
    gap: 2rem;
  }

  .alpaca-item {
    padding: 1rem;
    text-align: center;
  }

  .alpaca-description {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .alpaca-description .description-start {
    white-space: nowrap;
  }

  .alpaca-photo {
    width: 8rem;
    height: 8rem;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 0.75rem;
  }

  @media (min-width: 768px) {
    .alpaca-grid {
      display: flex;
      flex-wrap: wrap;
      gap: 2rem;
      justify-content: center;
    }

    .alpaca-item {
      flex: 0 0 calc(33.333% - 2rem);
    }
  }
</style>
